* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  & ::-webkit-scrollbar {
    display: none;
  }
}

:root {
  font-size: 62.5%;
  /* COLORs */
  --intense-coral: coral;
  --medium-coral: rgb(252, 148, 103);
  --dim-coral: rgb(252, 178, 152);
  --white-coral: rgb(255, 213, 198);
  --font-darkgrey: rgb(59, 59, 59);
  --font-lightgrey: rgb(153, 153, 153);
  --white-grey: rgb(245, 245, 245);
  --font-brown: rgb(100, 71, 58);
  --alert-yellow: rgb(255, 214, 0);
}

@font-face {
  font-family: "Roboto";
  src: url("../media/fonts/Roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../media/fonts/Montserrat/Montserrat-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../media/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

.svg {
  width: 2rem;
  height: 2rem;
}

html {
  width: 100%;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.creation_dialogs {
  width: 30rem;
  height: fit-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 2px var(--font-lightgrey);
}

#priority_buttons_div {
  display: flex;
  gap: 1rem;
}

.priority_buttons {
  width: fit-content;
  height: 3rem;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--font-lightgrey);
  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

#new_item_form {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--intense-coral);
  & input {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
  }
}

#form_title_div {
  width: 100%;
}

.alert_messages {
  width: 100%;
  color: red;
  display: none;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: bold;
}

#save_button {
  width: fit-content;
  height: 3.5rem;
  cursor: pointer;
  padding: 1rem;
  align-self: center;
  border-radius: 1rem;
  box-shadow: 1px 1px 2px var(--font-lightgrey);
  &:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}

#sidebar {
  width: 20%;
  height: 100%;
  position: sticky;
  background-color: var(--intense-coral);
  overflow-y: auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

#filters_panel {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category_div {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.default_category {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  color: var(--font-darkgrey);
}

#categories_panel {
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  font-family: "Montserrat", sans-serif;
}

#signature_div {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 2.2rem;
  & p {
    color: var(--font-darkgrey);
    font-size: 1.8rem;
  }
  & span {
    text-shadow: 1px 1px 0px var(--font-lightgrey);
    color: var(--font-darkgrey);
    letter-spacing: -1px;
  }
  & a {
    width: 3rem;
    height: 3rem;
    & i {
      width: 100%;
      height: 100%;
      color: var(--font-darkgrey);
      &:hover {
        color: black;
      }
    }
  }
}

.custom_categories {
  display: inline-flex;
  flex-direction: column;
  gap: 0.8rem;
}

.custom_category_titles {
  font-weight: bold;
  /* TODO: solve montserrat variability */
}

.sidebar_project_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 2rem;
}

.project_removal_buttons,
.item_removal_buttons {
  cursor: pointer;
  display: none;
  background-color: transparent;
  text-decoration: none;
  outline: none;
  height: 100%;
  width: 2rem;
  border: 0;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
}

.project_titles {
  cursor: pointer;
}

.selected_priority {
  box-shadow: inset 0 3px 0px rgba(0, 0, 0, 0.3);
  background-color: var(--alert-yellow);
}

.selected_category {
  box-shadow: inset 0 3px 0px rgba(0, 0, 0, 0.3);
}

#mainDiv {
  width: 80%;
  height: 100vh;
  position: sticky;
  display: flex;
  flex-direction: column;
}

#header {
  width: 100%;
  height: 4rem;
  background-color: var(--medium-coral);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

#main_display {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
}

#project_display_container {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--white-coral);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#project_display, #completed_items_display {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.item_div {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo_checkbox_icon,
.urgent_icon {
  width: 2rem;
  height: 2rem;
}

.urgent_icon {
  background-color: black;
  border-radius: 3px;
  > path {
    fill: var(--alert-yellow);
  }
}

.due_dates,
#detail_due_date {
  font-style: italic;
  background-color: var(--white-grey);
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.item_titles {
  cursor: pointer;
}

#detail_display {
  width: 40%;
  background-color: var(--dim-coral);
  padding: 4rem;
  font-family: "Nunito Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: auto;
  font-size: 1.8rem;
}

#edit_button {
  cursor: pointer;
  width: 4rem;
  &:hover {
    > path {
      fill: var(--intense-coral);
    }
  }
}

#detail_title {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.detail_subtitle_box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#detail_due_date {
}

#detail_item_description {
  font-size: 1.8rem;
}

#footer {
  width: 100%;
  height: 4rem;
  background-color: var(--medium-coral);
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  & .button {
    background-color: var(--intense-coral);
    box-shadow: 1px 1px 2px var(--font-lightgrey);
    padding: 0.5rem 1.1rem;
    border-radius: 5px;
    &:hover {
      background-color: var(--medium-coral);
      box-shadow: 1px 1px 2px var(--font-lightgrey);
      transform: scale(1.1);
      transition: 0.2s;
    }
  }
}

.button {
  cursor: pointer;
}
